<hello name="{{ name }}"></hello>
<!-- <p appHiglight highlightColor='red'>
  Start editing to see some magic happen :)
</p>

<p appHiglight [highlightColor]="'yellow'">
  Start editing to see some magic happen :)
</p> -->

<p [appHiglight]="'yellow'">Highlight directive</p>
<p appHiglight>Highlight directive</p>


<div *ngIf="names else elsePart">
  <div *ngFor="let name of names">
    {{name}}
  </div>
</div>

<ng-template #elsePart>
  No record to display
</ng-template>

<ng-template [ngIf]="names" [ngIfElse]="elsePart">
  <div *ngFor="let name of names">
    {{name}}
  </div>
</ng-template>


<!-- <ng-template> is an Angular element for rendering HTML. It is never displayed directly. 
 <ng-container> is a grouping element that doesn't interfere with styles or layout because Angular doesn't put it in the DOM. -->

<p *appUnless="!display" >
  display when it's false
</p>